@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active{
    border-bottom: 2px solid black;
}

.header{
    background-image: url(img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1070px;
    margin: 0;
    &__menu{
        font-size: 16px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;   
        border-bottom: 1px solid rgb(255, 255, 255);  
        height: 80px;   
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        position: fixed;
        background-color: rgba(63, 78, 66, 0.301);
        box-shadow: 0px 10px 20px rgba(29, 28, 28, 0.445);
        &__items{
            width: 415px;
            display: flex;
            justify-content: space-around;
            &__link{
                color: rgb(255, 255, 255);
                position: relative;
                &:hover{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    border-bottom: 1px solid white;
                    font-weight: 900;
                    box-shadow: 10px 6px 10px rgba(245, 245, 245, 0.39);
                }
            }
        }
        &__logo{
            font-size: 30px;
            font-family: "Oswald";
            color: rgb(255, 255, 255); 
            width: 60px;  
        }
        &__user{
            width: 370px;
            display: flex;
            justify-content: space-around;
            height: 100%;
            align-content: center;
            text-align: center;
            &__login{
                padding-top: 30px;
                width: 33%;
                border-left: 1px solid  rgb(255, 255, 255) ;
                border-right: 1px solid  rgb(255, 255, 255) ;
                &:hover{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    border-bottom: 1px solid white;
                    font-weight: 900;
                    text-decoration: underline;
                }
            }
            &__search{
                padding-top: 30px;
                &:hover{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    border-bottom: 1px solid white;
                    font-weight: 900;
                    text-decoration: underline;
                }
            }

            &__cart{
                padding-top: 30px;
                width: 33%;
                border-left: 1px solid  rgb(255, 255, 255) ;
                &:hover{
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    border-bottom: 1px solid white;
                    font-weight: 900;
                    text-decoration: underline;
                }
            }
        }
    }
    &__vertical{
        width: 350px;
        display: flex;
        justify-content: space-between;
        font-size: 26px;
        font-family: "Oswald";
        color: rgb(255, 255, 255);
        text-transform: uppercase;    
        transform: rotate(270deg);
        transform-origin: left top ;
        position: absolute;
        top: 1070px;
        left: 60px;
        svg{
            stroke: white;
            width: 100px;
        }
    }
    &__text{
        max-width: 650px;
        height: 360px;
        position: absolute;
        top: 390px;
        left: 845px;
        h1{
            font-size: 55px;
            font-family: "Oswald";
            color: rgb(247, 248, 243);
            text-transform: uppercase;
            text-align: right;    
            letter-spacing:10pt; 
            line-height: 75pt;
        }
        h2{
            font-weight: 200;
            font-size: 24px;
            font-family: "Oswald";
            color: rgb(247, 248, 243);
            text-align: right;    
            letter-spacing:3pt; 
            margin-bottom: 55px;     
        }
        &__btn{
            font-size: 20px;
            font-family: "Oswald";
            color: rgb(255, 255, 255);
            text-transform: uppercase;   
            stroke: white;  
            width: 270px;
            height: 70px;
            display: flex;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            border: white 1px solid;
            margin-right: 0;
            margin-left: auto;
            margin-bottom: 35px;
            svg{
                width: 50px;
                margin-left: 15px;
            }
            &:hover{
                border: 2px white solid;
                box-shadow: 3px 5px 10px rgba(255, 255, 255, 0.377);
            }
        }
        &__products-link{
            text-align: right;
            a{
            font-size: 18px;
            font-family: "Oswald";
            color: rgb(247, 248, 243);
            text-align: right;    
            font-weight: 200;
            letter-spacing: 3pt;
            text-transform: uppercase;
            padding: 5px;
            &:hover{
                text-decoration: none;
                    color: rgb(255, 255, 255);
                    border-bottom: 1px solid white;
                    font-weight: 900;
                    box-shadow: 10px 6px 10px rgba(245, 245, 245, 0.178);
            }
            }
        }

    }
    &__arrow{
        color: white;
        font-size: 30px;
        text-align: center;
        width: 100%;
        position: absolute;
        top :1000px;
        i{
        &:hover{
            font-size: 40px;
        }
    }
    }
}
.second{
    background-color: #f7f8f3;
    &__about{
        height: 1315px;
        &__table{
            height: 420px;
            position: relative;
            img{
                width: 690px;
                height: 200px;
                margin: 100px 20% 100px 20%;
            }
            &__logos{
                width: 660px;
                height: 180px;
                margin-right:0;
                position: absolute;
                top: 100px;
                left: 21%;
                p{
                    font-size: 24px;
                    font-family: "Oswald";
                    color: rgb(28, 28, 27);
                    text-transform: uppercase;
                    text-align: center;                
                    margin-top: 30px;
                    margin-bottom: 20px;
                }
                img{
                    margin-left: 10%;
                    margin-right: 10%;;
                    margin-top: 0;
                    margin-bottom: 20px;
                    width: 510px;
                    height: 60px;
                }
            }
        
        } 
        &__toggle{
            &__title{
                font-size: 30px;
                font-family: "Oswald";
                color: rgb(28, 28, 27);
                text-transform: uppercase;
                text-align: left;   
                display: flex; 
                justify-content: space-between;    
                flex-wrap: nowrap;
                width: 80%;
                margin: 0 10% 65px 10%;
                border-bottom: 2px solid #ced6af;
                div{
                    width: 22%;
                    &:hover{
                        border-bottom: 2px solid black;
                    }
                }
            }
            &__articles{
                width: 80%;
                margin: 0 10% 65px 10%;
                &__2{
                    display:none
                }
                &__3{
                    display: none
                }
                h1{
                    font-size: 24px;
                    font-family: "Oswald";
                    color: rgb(0, 0, 0);
                    text-transform: uppercase;  
                    margin-bottom: 45px;  
                    margin-top: 55px;       
                }
                p{
                    font-size: 18px;
                    font-family: "Oswald";
                    color: rgb(110, 119, 74); 
                    margin-bottom: 45px;
                }
                img{
                    margin-bottom: 30px;
                }
            }
        }
    }
}